.hero {
  display: grid;
  width: 100%;
  gap: 2rem;
}

.leftContent,
.rightContent {
  display: grid;
  gap: 2rem;
  margin-top: 8rem;
}

.rightContentItems {
  display: grid;
  flex-direction: column;
  gap: 1rem;
}

.rightContentTitle {
  font-size: 4.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: rgb(8 51 68);
}
/* GENERAL */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

/* QUERYS */
@media only screen and (min-width: 768px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .container {
    padding: 2rem;
  }
}
@media only screen and (min-width: 1080px) {
  .container {
    padding: 2rem;
  }
}
