.cardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.sectionFooter{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem;
}

.sectionFooter a {
  background-color: var(--dark-primary);
  padding: .5rem;
  border-radius: .25rem;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .cardsContainer{
    flex-direction: row;
    justify-content: space-around;

  }
}