.content {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  color: #fff;
}

.left > span {
  font-weight: 700;
}

.left > ul {
  margin-top: 0.5rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.left > ul li {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.right > span {
  font-weight: 700;
}

.right > ul {
  margin-top: 0.5rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.right > ul li {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

/* GENERAL */
.container {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(8 51 68);
  padding: 1rem;
}

/* QUERYS */
@media only screen and (min-width: 768px) {
  .footer {
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .content {
    grid-template-columns: 1fr 1fr;
  }
  .container {
    padding: 2rem;
  }
}
@media only screen and (min-width: 1080px) {
  .container {
    padding: 2rem;
  }
}
